Repository Luandro-com/starwars-timeline: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx}"
      run: npx eslint {staged_files} --fix
    prettier:
      glob: "*.{js,jsx,json,css,scss,md}"
      run: npx prettier --write {staged_files}

commit-msg:
  commands:
    lint-commit-msg:
      run: echo "Commit message checked"

feat(i18n): add translation system with TypeScript script
  eslint.config.js
  package-lock.json
  package.json
  scripts/generate-translations.ts
  src/App.jsx
  src/components/LanguageSwitcher.jsx
  src/components/Navigation.jsx
  src/components/Section.jsx
  src/components/Timeline.jsx
  src/data/timeline.json
  src/i18n/i18n.js
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/main.jsx
  tsconfig.json
Due: lint, prettier

feat(timeline): add timeline scraper and update data structure
  eslint.config.js
  package-lock.json
  package.json
  scripts/generate-translations.ts
  scripts/scrape-timeline.js
  src/components/Timeline.jsx
  src/data/full_timeline.json
  src/data/timeline_eras.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  tsconfig.json
Due: lint, prettier

feat(timeline): improve timeline scraper to capture all items
  scripts/scrape-timeline.js
  src/data/full_timeline.json
Due: lint, prettier

feat(ui): create award-winning Star Wars timeline experience
  package-lock.json
  package.json
  scripts/scrape-timeline.js
  src/components/EraSection.tsx
  src/components/LanguageSwitcher.jsx
  src/components/LanguageSwitcher.tsx
  src/components/MediaItem.tsx
  src/components/MediaList.tsx
  src/components/Navigation.tsx
  src/components/Timeline.jsx
  src/components/Timeline.tsx
  src/data/full_timeline.json
  src/main.tsx
  src/styles/Timeline.module.scss
  src/types/index.ts
  vite.config.js
Due: lint, prettier

chore: lint
  src/styles/Timeline.module.scss
  vite.config.js
Due: lint, prettier

feat(ui): show media content by default in expanded mode
  src/components/ExpandedEraSection.tsx
  src/components/Timeline.tsx
  src/components/ViewControls.tsx
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/styles/Timeline.module.scss
Due: prettier

chore: lint
  src/i18n/locales/en.json
Due: prettier

chore: disable expanded mode for now
  src/components/Timeline.tsx
  src/components/ViewControls.tsx
Due: none

Deploying to gh-pages from @ Luandro-com/starwars-timeline@5cfa2588b63427dacc682b9cbd587c2b7b03b5fd 🚀
  assets/index-BtqaLPBf.css
  assets/index-CEvgp55O.js
  index.html
  vite.svg
Due: lint, prettier

feat: improve NavTrack and fix translation generation script
  scripts/generate-translations.ts
  scripts/scrape-timeline.js
  src/components/Navigation.tsx
  src/components/Timeline.tsx
  src/data/full_timeline.json
  src/data/timeline.json
  src/data/timeline_eras.json
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/styles/Timeline.module.scss
Due: lint, prettier

chore: lint
  scripts/scrape-timeline.js
  src/i18n/locales/en.json
  src/i18n/locales/es.json
  src/i18n/locales/fr.json
  src/styles/Timeline.module.scss
Due: lint, prettier

Deploying to gh-pages from @ Luandro-com/starwars-timeline@80fb53d383ff2c1105a9e12c643b654cc620d56c 🚀
  assets/index-BGSbX7-s.css
  assets/index-BtqaLPBf.css
  assets/index-CEvgp55O.js
  assets/index-DC8WgvXG.js
  index.html
Due: lint, prettier
